[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group samsung_zero
	forgeCommitter = group samsung_zero
	push = group samsung_zero
	label-Code-Review = -2..+2 group samsung_zero
	label-Verified = -1..+1 group samsung_zero
	rebase = group samsung_zero
	submit = group samsung_zero
	forgeAuthor = group samsung_zero
